<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BVA</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AmazonServlet</display-name>
		<servlet-name>AmazonServlet</servlet-name>
		<servlet-class>com.brandvalue.ana.servlet.AmazonServlet</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>TwitterServlet</display-name>
		<servlet-name>TwitterServlet</servlet-name>
		<servlet-class>com.brandvalue.ana.servlet.TwitterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>YelpServlet</display-name>
		<servlet-name>YelpServlet</servlet-name>
		<servlet-class>com.brandvalue.ana.servlet.YelpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AmazonServlet</servlet-name>
		<url-pattern>/AmazonServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TwitterServlet</servlet-name>
		<url-pattern>/TwitterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>YelpServlet</servlet-name>
		<url-pattern>/YelpServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
